.color-wheel {
    position: relative;
    padding-left: 20px;
}

.color-wheel:before {
    left: 0;
    transform: translatey(-50%) rotate(-145deg);
    width: 16px;
    height: 16px;
    background: linear-gradient(60deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70%),
    linear-gradient(120deg, rgba(255, 191, 0, 0.8), rgba(255, 191, 0, 0) 70%),
    linear-gradient(180deg, rgba(0, 255, 64, 0.8), rgba(0, 255, 64, 0) 70%),
    linear-gradient(240deg, rgba(0, 64, 255, 0.8), rgba(0, 64, 255, 0) 70%),
    linear-gradient(300deg, rgba(128, 0, 255, 0.8), rgba(128, 0, 255, 0) 70%),
    linear-gradient(360deg, rgba(255, 0, 191, 0.8), rgba(255, 0, 191, 0) 70%);
}

.color-wheel:before, .color-wheel:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    content: "";
    border-radius: 50%;
}

.color-wheel:after {
    left: 4px;
    width: 8px;
    height: 8px;
    background: #f8f8f8;
}
