#dashboard-nav {
    transition: width 300ms ease-in-out;
    white-space: nowrap;

    .offcanvas-body {
        height: calc(100vh - 3.5rem);

        &, > .navbar-nav {
            overflow-y: auto;
            overflow-x: hidden;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    em {
        width: 2rem;
    }

    .brand span, .nav-link span {
        transition: opacity 300ms ease-in-out;
        opacity: 1;
    }

    .nav-link {
        overflow-x: hidden;

        &:hover {
            background-color: hsl(0, 0%, 10%);

            &:active {
                background-color: hsl(0, 0%, 5%);
            }
        }
    }
}

@media(min-width: 1200px) {
    #dashboard-nav {
        .trigger em:before {
            content: "\f03b";
        }

        .trigger {
            text-align: end;
        }

        &.collapsed {
            width: 4rem !important;

            .trigger {
                flex-grow: 1 !important;
                text-align: center !important;
            }

            .trigger em:before {
                content: "\f03c" !important;
            }

            .brand span, .nav-link span {
                opacity: 0 !important;
            }
        }
    }
}
