@import "variables";
@import "../utilities";

@import "~bootstrap/scss/bootstrap";
@import "../colors";
@import "../buttons";
@import "navigation";
@import "tree";

.img-middle {
  @extend .top-50, .start-50, .translate-middle, .w-auto, .h-auto, .mw-100, .mh-100;
}

.img-top {
  @extend .top-0, .start-50, .translate-middle-x, .w-auto, .h-auto, .mw-100, .mh-100;
}

.form-label {
  @extend .small, .text-secondary;
}

[x-cloak] {
  display: none;
}

.text-hover-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #495057;
}

.toast {
  background-color: rgba(250, 250, 250, 0.98);
}

.ss-multi-selected, .ss-single-selected {
  border: 1px solid #ced4da !important;
  min-height: 35px !important;
  @extend .py-1;
}

.ss-deselect:not(.ss-hide) {
  display: inline-block !important;
}



.group:hover .group-hover-opacity-100 {
  opacity: 1 !important;
}