.tree li {
  .fa-spinner {
    display: none;
  }

  .fa-chevron-down {
    display: none;
  }

  &.expanded > div {
    .fa-chevron-down {
      display: inline-block;
    }

    .fa-chevron-right {
      display: none;
    }
  }

  &.loading > div {
    .fa-spinner {
      display: inline-block;
    }

    .fa-chevron-down {
      display: none;
    }

    .fa-chevron-right {
      display: none;
    }
  }

  & > div {
    cursor: pointer;

    .node {
      &:hover {
        background-color: hsl(197, 60%, 94%);
      }

      &.active {
        background-color: hsl(197, 100%, 87%);
      }
    }
  }
}