.filter-option {
  display: block;
  position: relative;
  padding: 8px 0 7px;
  line-height: 1.3;
  color: #363636;
  text-decoration: none;
}

.filter-option small {
  font-size: 12px;
  line-height: 16px;
  color: #707070
}

.filter-option.selected {
  color: #1c7ece
}

.filter-checkbox:before, .filter-radio:before {
  content: "";
  position: absolute;
  right: 0;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  width: 18px;
  height: 18px;
  border: 1px solid #bbb;
  border-radius: 2px;
  overflow: hidden
}

.filter-indicator {
  position: absolute;
  left: 0;
  -webkit-transition: opacity .075s ease-in-out;
  transition: opacity .075s ease-in-out;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-size: cover
}

.filter-checkbox:before, .filter-indicator {
  top: 8px;
}

.filter-color {
  padding-left: 30px !important;
}

.filter-color:before {
  right: 0;
}

.filter-color:hover:not(.disabled):not(.selected):not(.active) .filter-indicator {
  opacity: .4
}

.filter-checkbox:after {
  content: '\f00c';
  font-family: "Font Awesome 5 Free", serif;
  color: #fff;
  font-size: x-small;
  font-weight: 900;
  right: 4px;
}

.filter-checkbox:hover:not(.disabled):not(.selected):before, .filter-radio:hover:not(.disabled):not(.selected):before {
  background-color: #fff;
}

.filter-checkbox:after, .filter-radio:after {
  position: absolute;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity ease-in-out .1s;
  transition: opacity ease-in-out .1s;
  opacity: 0
}

.filter-checkbox.icon:before, .filter-checkbox.icon:after, .filter-radio.icon:before, .filter-radio.icon:after {
  margin-right: 0
}

.filter-checkbox.selected, .filter-radio.selected {
  color: #000
}

.filter-checkbox.selected:before, .filter-radio.selected:before {
  border-color: $primary;
  background-color: $primary;
}

.filter-checkbox.selected:after, .filter-radio.selected:after {
  opacity: 1
}

.filter-checkbox.disabled, .filter-radio.disabled {
  cursor: not-allowed;
  color: #bbb;
  pointer-events: none;
}

.filter-checkbox.disabled:before, .filter-radio.disabled:before {
  border-color: #dcdcdc
}

.filter-checkbox.disabled small, .filter-radio.disabled small {
  color: inherit
}

.filter-checkbox.disabled .filter-indicator, .filter-radio.disabled .filter-indicator {
  opacity: .35
}

.filter-checkbox.disabled.selected:before, .filter-radio.disabled.selected:before {
  background-color: #dcdcdc
}

.filter-radio:before, .filter-radio .filter-indicator {
  border-radius: 50%
}

.filter-radio:after {
  content: "";
  right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f1f1f1
}

@media (min-width: 991.98px) {
  .filter-radio:after {
    top: 12px;
    right: auto;
    left: 6px
  }

  .filter-checkbox, .filter-radio {
    padding: 3px 5px 4px 30px
  }

  .filter-checkbox:before, .filter-radio:before {
    position: absolute;
    right: auto;
    left: 0
  }

  .filter-checkbox:before, .filter-indicator {
    top: 4px;
  }

  .filter-checkbox:after {
    top: 47%;
    right: auto;
    left: 5px;
  }

  .filter-option {
    padding: 3px 5px 4px 30px;
  }

  .filter-color:before {
    display: none !important;
  }

  .filter-color.light:after {
    color: #000
  }
}

.filters {
  background-color: rgb(241, 241, 241) !important;
}

@media (max-width: 991.98px) {
  .filters {
    background-color: #f8f8f8 !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }
}

@media (max-width: 575.98px) {
  .filters {
    width: 100% !important;
    border: none !important;
    background-color: rgb(241, 241, 241) !important;
    box-shadow: none !important;

    .offcanvas-header {
      background-color: #fff;
      -webkit-box-shadow: 0 -5px 15px rgb(0 0 0 / 20%);
      box-shadow: 0 -5px 15px rgb(0 0 0 / 20%);
    }

    .offcanvas-footer {
      -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
      box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    }
  }
}

@media(min-width: 992px) {
  .filters {
    position: static !important;
    top: auto !important;
    left: auto !important;
    width: 250px !important;
    bottom: auto !important;
    visibility: visible !important;
    background-color: inherit !important;
    transform: none !important;
    border: none !important;

    .offcanvas-header {
      padding: 0 !important;
      margin-bottom: 3rem !important;
    }

    .offcanvas-body {
      padding: 0 !important;
    }
  }
}